<a href="https://colab.research.google.com/github/srinivasvarma123/dataengineering-Scenarios/blob/main/Scenario_4_Pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("pyspark").getOrCreate()

sc = spark.sparkContext
from pyspark.sql.functions import *

In [3]:
data = [
    ("SEA", "SF", 300),
    ("CHI", "SEA", 2000),
    ("SF", "SEA", 300),
    ("SEA", "CHI", 2000),
    ("SEA", "LND", 500),
    ("LND", "SEA", 500),
    ("LND", "CHI", 1000),
    ("CHI", "NDL", 180)]
df = spark.createDataFrame(data, ["from", "to", "dist"])

df.show()

+----+---+----+
|from| to|dist|
+----+---+----+
| SEA| SF| 300|
| CHI|SEA|2000|
|  SF|SEA| 300|
| SEA|CHI|2000|
| SEA|LND| 500|
| LND|SEA| 500|
| LND|CHI|1000|
| CHI|NDL| 180|
+----+---+----+

In [46]:
df1 = df
df1.show()
df2 = df.withColumnRenamed("from", "from1").withColumnRenamed("to","to1").withColumnRenamed("dist", "dist1")
df2.show()

+----+---+----+
|from| to|dist|
+----+---+----+
| SEA| SF| 300|
| CHI|SEA|2000|
|  SF|SEA| 300|
| SEA|CHI|2000|
| SEA|LND| 500|
| LND|SEA| 500|
| LND|CHI|1000|
| CHI|NDL| 180|
+----+---+----+

+-----+---+-----+
|from1|to1|dist1|
+-----+---+-----+
|  SEA| SF|  300|
|  CHI|SEA| 2000|
|   SF|SEA|  300|
|  SEA|CHI| 2000|
|  SEA|LND|  500|
|  LND|SEA|  500|
|  LND|CHI| 1000|
|  CHI|NDL|  180|
+-----+---+-----+

In [66]:
join_df = (
          df1.join(df2, (df1["to"] == df2["from1"]) & (df1["from"] == df2["to1"]) & (col("from") < col("to")), "inner")
          .withColumn("roundtrip_dist", col("dist") + col("dist1"))
          .select("from", "to", "roundtrip_dist")

)
join_df.show()

+----+---+--------------+
|from| to|roundtrip_dist|
+----+---+--------------+
| CHI|SEA|          4000|
| LND|SEA|          1000|
| SEA| SF|           600|
+----+---+--------------+