<a href="https://colab.research.google.com/github/srinivasvarma123/dataengineering-Scenarios/blob/main/Scenario_3_Pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("pyspark").getOrCreate()

sc = spark.sparkContext

In [6]:
from pyspark.sql.functions import *

data = [
    (101, "Eng", 90),
    (101, "Sci", 80),
    (101, "Mat", 95),
    (102, "Eng", 75),
    (102, "Sci", 85),
    (102, "Mat", 90)
]
columns = ["Id", "Subject", "Marks"]
rdd = spark.sparkContext.parallelize(data)
df = rdd.toDF(columns)
df.show()

+---+-------+-----+
| Id|Subject|Marks|
+---+-------+-----+
|101|    Eng|   90|
|101|    Sci|   80|
|101|    Mat|   95|
|102|    Eng|   75|
|102|    Sci|   85|
|102|    Mat|   90|
+---+-------+-----+

In [9]:
pivot_df = (

            df
            .groupBy("Id")
            .pivot("subject")
            .agg(first("Marks"))
            .select("Id", "Eng", "Sci", "Mat")
)

pivot_df.show()

+---+---+---+---+
| Id|Eng|Sci|Mat|
+---+---+---+---+
|101| 90| 80| 95|
|102| 75| 85| 90|
+---+---+---+---+