<a href="https://colab.research.google.com/github/srinivasvarma123/dataengineering-Scenarios/blob/main/Scenario_2_Pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("pyspark").getOrCreate()

sc = spark.sparkContext

In [3]:
from pyspark.sql.functions import *

data1 = [
    (1, "Henry"),
    (2, "Smith"),
    (3, "Hall")
]
columns1 = ["id", "name"]
rdd1 = sc.parallelize(data1,1)
df1 = rdd1.toDF(columns1)
df1.show()
data2 = [
    (1, 100),
    (2, 500),
    (4, 1000)
]
columns2 = ["id", "salary"]
rdd2 = sc.parallelize(data2,1)
df2 = rdd2.toDF(columns2)
df2.show()

+---+-----+
| id| name|
+---+-----+
|  1|Henry|
|  2|Smith|
|  3| Hall|
+---+-----+

+---+------+
| id|salary|
+---+------+
|  1|   100|
|  2|   500|
|  4|  1000|
+---+------+

In [4]:
innerdf =  (
            df1.join(df2, "id", "left")
            .orderBy("id")
            .fillna({"salary": 0})
)

innerdf.show()

+---+-----+------+
| id| name|salary|
+---+-----+------+
|  1|Henry|   100|
|  2|Smith|   500|
|  3| Hall|     0|
+---+-----+------+